#home {
    
    font-family: 'Patrick Hand', cursive;
    color: white;
    font-size: 30px;
    font-weight: normal;
    
}
h1 {
    font-size: 85px;
    color: white;
    text-align: center
}
.image {
  margin-left: 40%;
  margin-bottom: 80px;
}


