
<div id="home">
    <div class="container">
     <div id="head">
       <h1>Git Search</h1>
       <img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLmTi3mc6YKXUpoBsgMk7fMCTJiBAb3O0TgXIqvkuOa-OV4P3L" alt="" width="200px">
     </div>
      <br>
  <div style="text-align: center;" id="body">
       <p style="text-align: center;">No more wondering what other developers are up to, just check them out below.</p>
       <a routerLink='/userprofile' routerLinkActive='active'><button id="go">GO</button></a>
    <div id="contactdeatils">
     <h2>Contacts:</h2>
     <a href=""><img src="https://image.flaticon.com/icons/svg/185/185981.svg" alt="" width="40px" height="40px"> </a>
     <a href=""><img src="https://image.flaticon.com/icons/svg/185/185961.svg" alt="" width="40px" height="40px"> </a>
     <a href=""><img src="https://image.flaticon.com/icons/svg/1409/1409946.svg" alt="" width="40px" height="40px"> </a>
    </div>
  
    </div>
  </div>
  <div class="footer">
      <p style="text-align: center;">&copy; Copyright Sharon Maswai</p>
  </div>
</div>
