<div id="searchpage" class="container-fluid">
  <h2  style="text-align: center;" class="heading">Git Search</h2>
  <a id="link" routerLink='/homepage' routerLinkActive='active'>Back</a>
  <div class="searchform">
    

    
    <form action="" class="search-form">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="enter username" [(ngModel)]="username" 
          name="username" (keyup)=fetchRepos() (keyup)="fetchProfileDetails()">
          <button class="btn-info " type="submit">Search</button>
      </div>


    </form>
  </div>
  <div *ngIf='profile'>
     <p>{{profile.name}}</p> <small>{{profile.login}}</small>
     
  </div>
</div>  